---
const {title} = Astro.props;
const {titleVideo} = Astro.props;
const {description} = Astro.props;
const {urlVideo} = Astro.props;
const {url} = Astro.props;
const { images = [] } = Astro.props;
---

<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card custom-card">
                <div class="card-header">
                    <h3 class="mb-0">{title}</h3>
                </div>
                <div class="card-body p-0">
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div class="video-container">
                                <iframe src={urlVideo} title="YouTube video player"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-md-6 p-4">
                            <h4>{titleVideo}</h4>
                            <p>{description}</p>
                            <div class="mt-5">
                                <h5>Frameworks utilizados</h5>
                                <div class="row align-items-center justify-content-center">

                                    {Array.isArray(images) && images.map((image, index) => (
                                        <div class="col-4">
                                          <a href={image.url}>
                                            <img src={image.image} alt={`Imagen ${index + 1}`} class="IconRef"/>
                                          </a>
                                        </div>
                                      ))}
                                  </div>
                                  
                            </div>
                            <a class="btn btn-custom mt-3" href={url}>Ver más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
  .custom-card {
    background-color: var(--color-fondo-principal);
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px var(--color-destacado);
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 1rem;
  }

  .card-header {
    background-color: var(--color-cards);
    color: var(--color-texto-principal);
    border-bottom: none;
    padding: 1rem;
  }

  .card-body {
    color: var(--color-texto-secundario);
  }

  .btn-custom {
    background-color: var(--color-destacado);
    color: var(--color-fondo-principal);
    border: none;
    font-weight: bold;
    transition: transform 0.2s;
  }

  .btn-custom:hover {
    transform: scale(1.05);
    background-color: var(--color-destacado);
    color: var(--color-fondo-principal);
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .IconRef {
    transition: transform 0.2s;
  }

  .IconRef:hover {
    transform: scale(1.1);
  }
  
</style>
